:root {
    --trinity-blue: #111;
    --trinity-gold: #111;
		--main-bg-color: #fff;
			--sec-bg-color: #fff;
	
		--textmain: #111;
	--dark: 3.5vw;
}
[data-theme="dark"] {
    --trinity-blue: #fff;
    --trinity-gold: #fff;
			--sec-bg-color: #eee;
	
		--main-bg-color: #111;
		--textmain: #fff;
	--dark: 0vw;
}
body {
    justify-content: center;
    align-content: center;
	font-family: 'Red Hat Text', sans-serif;
}

#iconpack{
	width: var(--dark);
	transition: width 0.5s ease 0.5s;
}

.theme-switch input {
  display:none;
}

.theme-switch-wrapper{
	margin-top: 2.2vh;
}

#clock {
    color: grey;
    font-weight: 900;
    font-size: 16vw;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    transition: color 1s;
    

    text-align: center;
}

#block {
    background-color: var(--sec-bg-color);

    border-radius: 25px;
    margin: 0 3vw;

    box-shadow: 5px 5px rgb(10, 10, 10, 0.5);

    transition: color 0.5s, background-color 0.5s ease;
}

#description {
    color: var(--textmain);
	transition: color 0.5s, background-color 0.5s ease;
    font-weight: 900;
    font-size: 5vw;

    text-align: center;

    margin-top: 1vw;
    margin-bottom: 2vw;
}

#info-block {
    margin-top: 20px;
    background-color: rgb(10, 25, 70, 0.1);
    padding: 10px 5px 40px;
    border-radius: 25px;
	transition: color 0.5s, background-color 0.5s ease;
}

#day-type {
    position: absolute;
    margin-left: 2vw;
    margin-top: 1vw;

    font-size: 5vw;
    font-weight: 900;

    color: var(--main-bg-color);
	transition: color 0.5s, background-color 0.5s ease;
    font-family: sans-serif;

    -webkit-text-stroke: 1px black;
}

@media screen and (max-width: 500px) {
    #day-type {
        opacity: 0;
    }

    #description {
        margin-top: 5vw;
        margin-bottom: 5vw;
        text-align: center;
    }
}

.current-day{
	
}

#verison-num {
    position: relative;

    bottom: 0;
    left: 0;
}

#week-schedule {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;

    margin: 0;

}

#week-schedule > p {
    color: var(--trinity-blue);
	transition: color 0.5s, background-color 0.5s ease;
    font-size: 5vw;
    font-weight: 900;

    margin-top: 10px;

    margin-bottom: 10px;

    padding: 0.5vw 1.7vw;
}

/*
#week-schedule > p:first-child {
    color: red !important;
}
*/

#week-schedule > .current-day {
    border-radius: 1.6vw;
    /*box-shadow: 3px 3px rgba(3, 3, 24, 0.4);*/

    background-color: var(--trinity-blue);
    color: var(--trinity-gold);
	transition: color 0.5s, background-color 0.5s ease;
}

#footer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    
}

#help {
    font-weight: 700;
    align-self: center;
}

body{
	font-family: 'Red Hat Text', sans-serif;
	transition: color 0.5s ease;
	background: var(--main-bg-color);
	color: var(--textmain);
}